.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.observation-tide{
  margin: 0;
  font-size: 12px;
  font-weight: bold;
  opacity: .7;
}

.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}



@keyframes example {
  0%   {background-color: #008CEA;}
  25%  {background-color: #FEDC37;}
  100% {background-color: #008CEA;}
}

.card-animation{
  background-color: #008CEA;
  animation-name: example;
  animation-duration: 3s; 
}

.card-product {
  overflow: hidden;
  // height: 120px;
  background: #008CEA;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  height: 199px;
}

.card-product img {
  height: 80%;
  width: 130px;
  object-fit: contain;
}

.card-product h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.animate-pisc{
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  input{
    font-weight: bold;
    text-decoration: none  !important;
    background-color: #3FAEFD;
    border-radius: 5px;
    -webkit-transition: background-color 0.75s, color 0.75s;
    transition: background-color 0.75s, color 0.75s;
    &:hover{
      background-color: #FEDC37;
      text-decoration: none  !important;
    }
  }
  input[type=submit]{
    font-weight: bold;
    text-decoration: none  !important;
    background-color: #3FAEFD;
    border-radius: 5px;
    -webkit-transition: background-color 0.75s, color 0.75s;
    transition: background-color 0.75s, color 0.75s;
    &:hover{
      background-color: #FEDC37;
      text-decoration: none  !important;
    }
    border: none;
    padding: 5px;
    text-decoration: none;
    cursor: pointer;
  }  
}

@keyframes animate {
  0% {
      opacity: 0.2;
  }

  50% {
      opacity: 1.0;
  }

  100% {
      opacity: 0.2;
  }
}

@keyframes animate2 {
  0% {
      opacity: 0.6;
  }

  50% {
      opacity: 1.0;
  }

  100% {
      opacity: 0.6;
  }
}


.card-product .card-product-infos {
  padding: 16px;
}

.pop-up{
  color: black;
  text-align: center !important;
}

.card-project {
  text-align: -webkit-center;

  img{
  height: 100%;
  width: 250px;
  object-fit: contain;
  }
}